.log_0 {border-bottom: 1px dotted}
.log_1 {border-bottom: 1px dotted;color:green}
.log_2 {border-bottom: 1px dotted;color:#900}
.log_3 {border-bottom: 1px dotted;color:red}
.log_4 {border-bottom: 1px dotted;color:red}