.light_1{margin:5px;float:left;width:100px;height:100px;background-image:url(../images/light_on.png)}
.light_0{margin:5px;float:left;width:100px;height:100px;background-image:url(../images/light_off.png)}
iframe{display:none};
.bigstar50, .bigstar45, .bigstar40, .bigstar35, .bigstar30, .bigstar25, .bigstar20, .bigstar15, .bigstar10, .bigstar05, .bigstar00 {
background: url(../images/all_bigstars.gif) no-repeat;
height: 14px;
display: inline;
color: #999;
overflow: hidden;
font-size: 14px;
line-height: 100%;
width: 75px;
}

.bigstar00 {
background-position: 0 -150px;
}
.bigstar05 {
background-position: 0 -135px;
}
.bigstar10 {
background-position: 0 -120px;
}
.bigstar15 {
background-position: 0 -105px;
}
.bigstar20 {
background-position: 0 -90px;
}
.bigstar25 {
background-position: 0 -75px;
}
.bigstar30 {
background-position: 0 -60px;
}
.bigstar35 {
background-position: 0 -45px;
}
.bigstar40 {
background-position: 0 -30px;
}
.bigstar45 {
background-position: 0 -15px;
}
.bigstar50 {
background-position: 0 0px;
}